/* body{
    background-color: skyblue;
}
.box{
    background-color: aliceblue;
    margin-left: 130px;
    margin-right: 130px;
    margin-top: 55px;
}
.mobile{
    text-align: center;
    display: inline-block;
    margin: 65px;
}
.desktop{
    text-align: center;
    display: inline-block;
    margin: 65px;
}
.tv{
    text-align: center;
    display: inline-block;
    margin: 65px;
}.mobile h3:hover{
    color: skyblue;
}
.desktop h3:hover{
    color: skyblue;

}
.tv h3:hover{
    color: skyblue;
} */
